<div class="col-xs-12 col-xs-center text-center">
  <div class="col-sm-3 col-sm-offset-3">
    <%= link_to "Return to Recipes List", recipes_path, class: "btn btn-success btn-small" %>
  </div>
  <div class="col-sm-3">
    <%= link_to "Return to Chefs List", chefs_path, class: "btn btn-success btn-small" %>
  </div>
</div>