<div class="col-sm-12 center">
  <p>
    <%= link_to "Return to Recipes List", recipes_path, class: "btn btn-warning btn-small" %>
    &nbsp
    <%= link_to "Return to Chefs List", chefs_path, class: "btn btn-warning btn-small" %>
  </p>  
</div>